/storage
/uploads
/fileUploadLayer/services/__pycache__
/fileUploadLayer/__pycache__
/codeReviewLayer/__pycache__
/codeReviewLayer/analyzers/__pycache__
/codeReviewLayer/llm/__pycache__
/codeReviewLayer/utils/__pycache__
/aiLayer/__pycache__
/auth/__pycache__
/mcpServer/__pycache__
/mcpServer/infraScripts/__pycache__
/mcpServer/tools/__pycache__
/db/__pycache__
/db/__pycache__/database.cpython-313.pyc
/__pycache__
.env
/opsonic
*.jar
*.pem