# Algorand TestNet
ALGOD_TOKEN=""
ALGOD_SERVER="https://testnet-api.algonode.cloud"
ALGORAND_DEPLOYER_MNEMONIC="word1 word2 ... word25"

# Vault
CREDENTIAL_VAULT_APP_ID=""

# AWS (Amplify frontend deploys)
AWS_ACCESS_KEY_ID="AKIA..."
AWS_SECRET_ACCESS_KEY="..."
AWS_DEFAULT_REGION="ap-south-1"
